/*
{
    "name": "TIDAL Custom Theme",
    "author": "@moepu",
    "description": "Cloner!"
}
*/

::-webkit-scrollbar {
    display: none;
}

[data-test="footer-player"] {
    width: calc(100% - 20px);
    bottom: 10px;
    left: 10px;
    border: 1px solid rgb(25, 25, 25);
    border-radius: 4px !important;
    position: absolute !important;
}

[data-test="contextmenu"] {
    border: 1px solid #fffafa1a !important;
}

[class^="_dataContainer_"]::before {
    background-image: var(--img);
    filter: blur(10px) brightness(0.4);
}
